<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.davison.trabalho">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".calendarview" />
        <activity android:name=".seekbar" />
        <activity android:name=".view" />
        <activity android:name=".webview" />
        <activity android:name=".imageview" />
        <activity android:name=".videoview" />
        <activity android:name=".progressbar" />
        <activity android:name=".progressbarhorizontal" />
        <activity android:name=".seekbardiscrete" />
        <activity android:name=".ratingbar" />
        <activity android:name=".searchview" />
        <activity android:name=".textureview" />
        <activity android:name=".horizontaldivider" />
        <activity android:name=".verticaldivider" />
        <activity android:name=".surfaceview"></activity>
    </application>

</manifest>